mcphases-a-dataset-of-physiological-hormonal-and-self-reported-events-and-symptoms-for-menstrual-health-tracking-with-wearables-*/
external_data/
results/**
!results/.gitkeep
.DS_Store
.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
